<template>
  <div class="inputBox">
    <label :for="uid"><img v-if="icon" :src="icon"/><span v-if="label">{{label}}</span></label>
    <input :type="type" :id="uid" v-model="InputData" v-on:keyup="changeValue(InputData)"
    :placeholder="helper"/>
  </div>
</template>

<script>

export default {
  name: 'InputBox',
  props: {
    label: String,
    icon: String,
    helper: String,
    uid: String,
    type: {
      type: String,
      default: 'text',
    },
  },
  data() {
    return {
      InputData: null,
    };
  },
  model: {
    event: 'modified',
  },
  methods: {
    changeValue(newVal) {
      this.$emit('modified', newVal);
    },
  },
};
</script>

<style scoped lang="scss">
/* uncomment if you use any colors or set sizes */
@import '@/scss/config.scss';
.inputBox {
    width: 100%;
    margin: 0 auto;
    margin-bottom: $input_space_between;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    label {
        display: flex;
        align-items: center;
        img {
            width: 100%;
            max-width: 30px;
            margin-right: 16px;
            cursor: pointer;
        }
    }
    input {
        width: 100%;
        box-sizing: border-box;
        height: 40px;
        padding: 8px;
        border: 1px solid $border_color;
        border-radius: 2px;
        font-size: 14px;
    }
}
</style>
