<template>
  <div class="SelectBox">
    <label v-if="label" :for="uid">{{label}}</label>
    <select v-model="InputData" :id="uid" @change="changeValue(InputData)">
      <option v-for="(option, index) in options" :key="index" :value="option">
        {{option}}
      </option>
    </select>
  </div>
</template>

<script>

export default {
  name: 'SelectBox',
  props: {
    label: String,
    uid: String,
    options: Array,
  },
  data() {
    return {
      InputData: '',
    };
  },
  model: {
    event: 'modified',
  },
  methods: {
    changeValue(newVal) {
      /* this condition is only used to remove the
      default option once another is selected */
      if (this.options.includes('Industry')) {
        this.options.shift();
      }
      this.$emit('modified', newVal);
    },
  },
  created() {
    /* stops there being duplicates of the same "please select"
    everytime the component is reloaded */
    if (this.options.includes('Industry')) {
      this.options.shift();
    }
    /* adds default option to array on load then
    sets the default selected option to that */
    this.options.unshift('Industry');
    this.InputData = 'Industry';
  },
};
</script>

<style scoped lang="scss">
@import '@/scss/config.scss';
select {
    width: 100%;
    background: $input_bg;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: $text_color;
    line-height: 1.3;
    padding: 10px 1.4em 10px 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 16px;
    border: 1px solid $border_color;
    border-radius: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $input_bg;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'%3E%3Cpath fill='%23333' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    outline:none;
    &:hover {
        border-color: darken($border_color, 10);
    }
    option {
        font-weight:normal;
    }
    &::-ms-expand {
        display: none;
    }
}
</style>
