<template>
  <div class="brands">

    <div class="inputCon">
      <input-box icon="images/icons/search.svg" type="text"
      uid="searchBox" helper="Search" v-model="search_value"/>

      <select-box uid="Industry"
      :options="this.uniqueIndustrys(filteredBrands)" v-model="select_value"/>

      <button class="btn action" type="button" @click="toggleOrder()">
      toggle order</button>
    </div>

    <brand-list :brands="FinalFilterLvl"/>

  </div>
</template>

<script>
/* Components */
import InputBox from '@/components/input/InputBox.vue';
import SelectBox from '../components/input/Select.vue';
import BrandList from '@/components/BrandList.vue';

/* JSON File */
import brands from '@/assets/json/retailer-list.json';

export default {
  name: 'Brands',
  components: {
    InputBox,
    SelectBox,
    BrandList,
  },
  data() {
    return {
      search_value: '',
      select_value: '',
      sort_order: true,
      brands,
    };
  },
  computed: {
    filteredBrands() {
      return this.brands.filter(
        brand => brand.name.toLowerCase().includes(this.search_value.toLowerCase()),
      );
    },
    FinalFilterLvl() {
      return this.filteredBrands.filter(
        brand => brand.industry.toLowerCase().includes(this.select_value.toLowerCase()),
      );
    },
  },
  methods: {
    /* creates an array with just the industrys */
    industryList(arr) {
      return arr.map(
        item => item.industry,
      );
    },
    /* filters out any duplicates in the industry array */
    uniqueIndustrys(arr) {
      const industrys = this.industryList(arr);
      return industrys.filter(
        (item, index) => industrys.indexOf(item) >= index,
      );
    },
    /* Sorting Methods */
    dynamicSort(property) {
      let sortOrder = 1;
      let prop = property;

      if (prop[0] === '-') {
        sortOrder = -1;
        prop = prop.substr(1);
      }
      return (a, b) => {
        if (sortOrder === -1) {
          return b[prop].localeCompare(a[prop]);
        }
        return a[prop].localeCompare(b[prop]);
      };
    },
    toggleOrder() {
      if (this.sort_order) {
        this.brands.sort(this.dynamicSort('-name'));
        this.sort_order = false;
      } else {
        this.brands.sort(this.dynamicSort('name'));
        this.sort_order = true;
      }
    },
  },
  created() {
    this.brands.sort(this.dynamicSort('name'));
  },
};
</script>

<style lang="scss" scoped>
@import '@/scss/config.scss';
.brands {
  width: 100%;
}
.inputCon {
  max-width: $max_input_size;
  margin: 32px auto;
}
</style>
