<template>
  <div v-if="brands" class="brand-list">
    <div v-for="(brand, index) in brands" :key="index" class="brand">
      <img :src="brand.logo" :alt="brand.name">
      <span class="name">{{brand.name}}</span>
      <span class="industry">{{brand.industry}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BrandsList',
  props: {
    brands: Array,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.brand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .brand {
    width: 31%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: solid 1px rgba(151, 151, 151, 0.5);
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 16px auto;
    padding: 8px 16px;
    @media (max-width: 800px) {
      width: 45%;
      margin: 2.5%;
    }
    img {
      max-width: 200px;
      @media (max-width: 1340px) {
        width: 100%;
        max-width: 100%;
      }
    }
    span {
      margin: 0 8px;
    }
  }
}
</style>
