/* colors */
$border_color: #979797;
$input_bg: #fff;
$text_color: #333;
$light_text_color: #fff;

$action_color: #42b983;
$dark_color: #333;

/* spacing */
$input_space_between: 16px;

/* max sizes */
$max_input_size: 300px;


/* Universal Styles */
.btn {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background: transparent;
    border: solid 1px $border_color;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: $text_color;
    padding: 8px;
    cursor: pointer;
    &.action {
        background: $action_color;
        border-color: $action_color;
        color: $light_text_color;
    }
}